<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit review</h1>
<p>
    <a href="/home"><input type="submit" value="List"></a>
</p>

<!--Tìm hiểu thẻ này không nhận-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit}" th:object="${review}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Feedback:</td>
            <td><input type="text" th:field="*{feedBack}"/></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update review"></td>
        </tr>
    </table>
</form>
</body>
</html>